@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/* Colors */
:root {
	--color-one: #1F2124;
	--color-two: #383A3F;
	--color-three: #F68657;
	--color-four: #F6B352;
    --color-five: #efd5b1f1;
}

.card {
    box-shadow: 2px 2px 5px var(--color-five);
    border: solid var(--color-two);
}

.card:hover {
    border: solid var(--color-four);
}

.card img {
    box-shadow: 2px 2px 5px var(--color-two);
    transform: rotate(-27deg);
    transition: all 0.3s;
}


.card:hover img{
    transform: rotate(0);
}

.card img:hover {
    box-shadow: 2px 2px 5px var(--color-four);
}


hr {
    background: var(--color-five);
    box-shadow: 0.2% 0.5% 0.7% var(--color-three);
}

.features {
    color: var(--color-four);
}

.features li span {
    color: var(--color-four);
	border-bottom: 2px dotted var(--color-four);
}
