@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/* Colors */
:root {
    --color-one: #1F2124;
    --color-two: #383A3F;
    --color-three: #F68657;
    --color-four: #F6B352;
    --color-five: #efd5b1f1;
}

::-webkit-scrollbar {
    display: none;
}

.card-pilots {
    box-shadow: 2px 2px 5px var(--color-five);
    border: solid var(--color-two);
}

.card-pilots:hover {
    border: solid var(--color-four);
}

.card-pilots img {
    box-shadow: 2px 2px 5px var(--color-two);
    transform: rotate(-27deg);
    transition: all 0.3s;
}


.card-pilots:hover img {
    transform: rotate(0);
}

.card-pilots img:hover {
    box-shadow: 2px 2px 5px var(--color-four);
}


hr {
    background: var(--color-five);
    box-shadow: 0.2% 0.5% 0.7% var(--color-three);
}

.features {
    color: var(--color-four);
}

.features li span {
    color: var(--color-four);
    border-bottom: 2px dotted var(--color-four);
}

.deust {
    background-image: url(../img/flags/Flag_of_Germany.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.uk {
    background-image: url(../img/flags/Flag_of_the_United_Kingdom_\(1-2\).svg);
    background-position: center;
    background-repeat: no-repeat;
}

.arg {
    background-image: url(../img/flags/Flag_of_Argentina.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.fr {
    background-image: url(../img/flags/Flag_of_France_\(1794–1815\,_1830–1974\).svg);
    background-position: center;
    background-repeat: no-repeat;
}

.aus {
    background-image: url(../img/flags/Flag_of_Australia.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.au {
    background-image: url(../img/flags/Flag_of_Austria.svg);
    background-position: center;
    background-repeat: no-repeat;   
}

.br {
    background-image: url(../img/flags/Flag_of_Brazil.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.it {
    background-image: url(../img/flags/Flag_of_Italy.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.suo {
    background-image: url(../img/flags/Flag_of_Finland.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.esp {
    background-image: url(../img/flags/Bandera_de_España.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.bel {
    background-image: url(../img/flags/Flag_of_Belgium.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.soon {
    background-image: url(../img/my/03092022_rorozoa_10_resize.jpg);
    background-position: center;
    background-repeat: no-repeat;
}